@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<style>

    h1 {
        font-family: Brush Script MT;
        font-size: 50px;
        color: #8EAADB;
        margin-top: 20px;
    }

    .primaryBtn {
        padding: 10px;
        text-align: center;
        margin: 4px 2px;
        border-radius: 8px;
        color: #ffffff;
        background-color: #b4c7e7;
        border-color: #b4c7e7;
    }

</style>

<h1>My Favorite Things</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h4>Entre na sua conta</h4>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class="form-label">Palavra-passe</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div>
                    <button id="registerSubmit" type="submit" class="primaryBtn" width="400px">Entrar</button>
                </div>
                
            </form>
        </section>
    </div>
   

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
