@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1 style="margin-top:20px">Confirmação de Registo</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    Esta verificação deveria ser feita por email, mas ainda estamos a trabalhar nisso. Enquanto isso: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Carregue aqui para confirmar a sua conta</a>
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}

